/********************
Login Page 
by Fernanda Pacheco 
*********************
1- GENERAL
2- FORM
3- STATUS 
4- @MEDIA
********************
RESOURCES
Icon: Flaticon
Font: Google Fonts
********************/

/* ******************
1- GENERAL
*********************/
* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

/* ******************
2- FORM
*********************/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 32px;
    font-size: 16px;
    font-weight: 200;
    color: #4e4e4e;

    -webkit-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.54);
}
legend {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 24px;
}
section {
    margin: 12px auto;
}
input {
    width: 300px;
    height: 37px;
    border-radius: 5px;
    border: 0.7px solid #b9b9b9;
    padding-left: 10px;
    font-size: 14px;
    margin: 4px 2px auto;
    display: block;
}
input:hover {
    border: 0.7px solid #777777;
}
::placeholder {
    color: #b9b9b9;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14px;
  }
button{
    width: 300px;
    height: 40px;
    background-color: #4d76ff;
    color: white;
    border: 2px solid #577eff;
    border-radius: 5px;
    margin-top: 24px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
button:hover {
    background-color: #577eff;
}

/* ******************
3- STATUS
*********************/
.correct {
    border: 1px solid #39f158;
}
.error {
    border: 1px solid #da3d3d;
}
.span-error {
    display: block;
    font-size: 10px;
    position: absolute;
    color: #da3d3d; 
}
.hide {
    display: none;
}

/* ******************
4- @MEDIA
*********************/

@media(max-width: 400px){
    input {
        width: 250px;
    }
    button {
        width: 250px;
    }
}